*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FDFDFB;
  font: 400 16px "Roboto", sans-serif;
  color: #1B1A17;
  line-height: 16.41px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: inline-block;
}

.test {
  height: 100px;
  background-color: red;
}

.title {
  font: 400 32px "Playfair Display", serif;
  line-height: 42.66px;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 27px;
  }
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 23px;
  }
}

.link {
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 23px 35px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}
.link_grey {
  background-color: #444240;
}
.link_grey:hover {
  background-color: #D4B098;
}
.link_beige {
  background-color: #D4B098;
}
.link_beige:hover {
  background-color: #444240;
}

.header {
  padding: 31px 0;
}
.header__inner, .header__logo-div, .header__box2 {
  display: flex;
  align-items: center;
}
.header__inner {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__inner {
    display: block;
  }
}
.header__logo-text {
  font: 400 12px "Playfair Display", serif;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 7px;
}
.header__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menu {
    display: block;
  }
}
.header__menu-btn {
  color: #555248;
  font-size: 30px;
  margin-bottom: 10px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .header__box1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
}
.header__box2 {
  width: 68%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__box2 {
    display: block;
    width: 100%;
    text-align: right;
    background-color: #D4B098;
    padding: 10px 15px 5px 0;
  }
}
.header__navigation {
  color: #555248;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .header__navigation {
    margin-bottom: 20px;
  }
}
.header__nav-item {
  margin-right: 3.9rem;
}
@media screen and (max-width: 997px) {
  .header__nav-item {
    margin-right: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .header__nav-item {
    display: block;
    margin: 10px 0 0 0;
  }
}
.header__nav-item:hover {
  color: #1B1A17;
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.header__icons-item {
  margin-right: 14px;
  padding: 5px 0;
}
@media screen and (max-width: 768px) {
  .header__icons-item {
    margin: 0 0 0 10px;
  }
}
.header__icons-item:hover path {
  fill: #D4B098;
}
.header__favorite-ic {
  position: relative;
}
.header__favorite-num {
  position: absolute;
  top: 0;
  right: -6px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-size: 8px;
  background-color: #E6C8B4;
  line-height: 13px;
  text-align: center;
}
.header__favorite-num:hover {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.main-block {
  background-color: #FFFFFF;
  padding-bottom: 43px;
}
@media screen and (max-width: 768px) {
  .main-block {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .main-block {
    padding-bottom: 0;
  }
}
.main-block__bg {
  background-color: #FDFDFB;
}
.main-block__inner {
  position: relative;
  height: 761px;
}
@media screen and (max-width: 997px) {
  .main-block__inner {
    height: 566px;
  }
}
@media screen and (max-width: 768px) {
  .main-block__inner {
    height: 467px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__inner {
    height: 620px;
  }
}
.main-block__text {
  display: flex;
  position: absolute;
  top: 43%;
  left: 11%;
  transform: translate(-20%, -41%);
  z-index: 10;
}
@media screen and (max-width: 997px) {
  .main-block__text {
    left: 14%;
  }
}
@media screen and (max-width: 768px) {
  .main-block__text {
    left: 17%;
  }
}
@media screen and (max-width: 576px) {
  .main-block__text {
    top: 51%;
    text-align: center;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    transform: translate(0);
  }
}
.main-block__line {
  height: 1px;
  width: 50px;
  background-color: #8B8371;
}
@media screen and (max-width: 997px) {
  .main-block__line {
    width: 20px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__line {
    display: none;
  }
}
.main-block_line1 {
  margin: 70px 10px 0 0;
}
@media screen and (max-width: 768px) {
  .main-block_line1 {
    margin-top: 53px;
  }
}
.main-block_line2 {
  margin-left: 10px;
}
.main-block_line3 {
  margin-right: 10px;
}
.main-block__title1, .main-block__title2 {
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.main-block__title1 {
  line-height: 59.99px;
  font-size: 45px;
  margin-bottom: 0;
}
@media screen and (max-width: 997px) {
  .main-block__title1 {
    line-height: 55.99px;
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main-block__title1 {
    line-height: 50.99px;
    font-size: 31px;
  }
}
.main-block__title2 {
  line-height: 39.99px;
  font-size: 30px;
  margin-top: 0;
}
@media screen and (max-width: 997px) {
  .main-block__title2 {
    line-height: 35.99px;
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .main-block__title2 {
    line-height: 30.99px;
    font-size: 19px;
  }
}
.main-block__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 21.33px;
  color: rgba(27, 26, 23, 0.82);
  width: 60%;
  margin-bottom: 61px;
}
@media screen and (max-width: 768px) {
  .main-block__description {
    width: 48%;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__description {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 997px) {
  .main-block__link {
    padding: 18px 27px;
  }
}
.main-block__ellipse-img {
  position: absolute;
  top: 38%;
  right: 18%;
  transform: translate(-20%, -39%);
}
@media screen and (max-width: 997px) {
  .main-block__ellipse-img {
    height: 600px;
    width: auto;
    top: 35%;
    right: 10%;
  }
}
@media screen and (max-width: 768px) {
  .main-block__ellipse-img {
    height: 490px;
    width: auto;
    top: 36%;
    right: 6%;
  }
}
@media screen and (max-width: 576px) {
  .main-block__ellipse-img {
    display: none;
  }
}
.main-block__watch-img {
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translate(-8%, -40%);
}
@media screen and (max-width: 997px) {
  .main-block__watch-img {
    height: 590px;
    width: auto;
    top: 41%;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-block__watch-img {
    height: 480px;
    width: auto;
    top: 42%;
    right: -26px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__watch-img {
    width: 200px;
    height: auto;
    right: 50%;
    margin-right: -100px;
    top: 0;
    transform: translate(0);
  }
}
.main-block__price-div, .main-block__size-div {
  display: flex;
  align-items: center;
}
.main-block__price-div {
  position: absolute;
  top: 17%;
  right: 47%;
}
@media screen and (max-width: 997px) {
  .main-block__price-div {
    right: 42%;
  }
}
@media screen and (max-width: 576px) {
  .main-block__price-div {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .main-block__price-div svg {
    height: 9px;
  }
}
.main-block__size-div {
  position: absolute;
  bottom: 15%;
  right: 2%;
}
@media screen and (max-width: 997px) {
  .main-block__size-div {
    bottom: 19%;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-block__size-div {
    display: none;
  }
}
.main-block__details {
  font: 400 16px "Prata", serif;
  line-height: 21.68px;
}
@media screen and (max-width: 768px) {
  .main-block__details {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .main-block__box1 {
    width: 100%;
  }
}

.popular-models {
  background-color: #FFFFFF;
  padding-bottom: 5rem;
}
.popular-models__title {
  text-align: center;
  margin-bottom: -6px;
}
@media screen and (max-width: 768px) {
  .popular-models__title {
    margin-bottom: 15px;
  }
}
.popular-models__watch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .popular-models__watch-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 576px) {
  .popular-models__watch-container {
    display: block;
  }
}
.popular-models__see-all {
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media screen and (max-width: 1140px) {
  .popular-models__see-all {
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .popular-models__see-all {
    align-items: center;
  }
}
.popular-models__see-all-link {
  font-weight: 500;
  line-height: 18.75px;
  color: #444240;
}
.popular-models__see-all-link:hover {
  color: #C4C0B6;
}
@media screen and (max-width: 768px) {
  .popular-models__see-all-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .popular-models__see-all-link {
    font-size: 12px;
  }
}
.popular-models__see-all-line {
  display: block;
  background-color: #C4C0B6;
  height: 1px;
  width: 103px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .popular-models__see-all-line {
    width: 90px;
  }
}
.popular-models__watch-box {
  background-color: #FDFDFB;
  padding: 40px 0 44px;
  width: 32%;
}
@media screen and (max-width: 768px) {
  .popular-models__watch-box {
    padding: 20px 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .popular-models__watch-box {
    width: 70%;
    margin: 0 auto 20px;
  }
}
.popular-models__images-div {
  text-align: center;
  position: relative;
}
.popular-models__ellipse-img {
  position: absolute;
  top: 1%;
  left: 10%;
}
@media screen and (max-width: 1140px) {
  .popular-models__ellipse-img {
    width: 280px;
    height: auto;
  }
}
@media screen and (max-width: 997px) {
  .popular-models__ellipse-img {
    display: none;
  }
}
@media screen and (max-width: 1140px) {
  .popular-models__watch-img {
    width: 290px;
    height: auto;
  }
}
@media screen and (max-width: 997px) {
  .popular-models__watch-img {
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .popular-models__watch-img {
    width: 125px;
  }
}
@media screen and (max-width: 576px) {
  .popular-models__watch-img {
    width: 200px;
  }
}
.popular-models__info {
  padding-left: 44px;
}
@media screen and (max-width: 768px) {
  .popular-models__info {
    margin-bottom: 10px;
    text-align: center;
    padding-left: 0;
  }
}
.popular-models__name {
  font: 700 14px "Playfair Display", serif;
  line-height: 24.26px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .popular-models__name {
    font-size: 12px;
  }
}
.popular-models__price {
  font: 400 12px "Prata", serif;
  line-height: 16.26px;
  margin: 0 0 -6px 0;
}
@media screen and (max-width: 768px) {
  .popular-models__price {
    font-size: 10px;
  }
}
.popular-models__price svg {
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  .popular-models__price svg {
    margin-left: 3px;
    height: 8px;
  }
}
.popular-models__details-div {
  display: flex;
  align-items: center;
  padding-left: 46px;
}
@media screen and (max-width: 768px) {
  .popular-models__details-div {
    padding-left: 0;
    justify-content: center;
  }
}
.popular-models__line {
  background-color: #8B8371;
  height: 1px;
  width: 30px;
  margin-right: 17px;
}
@media screen and (max-width: 768px) {
  .popular-models__line {
    width: 10px;
    margin-right: 10px;
  }
}
.popular-models__details-link {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  line-height: 21.33px;
}
.popular-models__details-link:hover {
  color: #8B8371;
}
@media screen and (max-width: 768px) {
  .popular-models__details-link {
    font-size: 12px;
  }
}

.quality__description {
  line-height: 24px;
  color: #444240;
}
.quality__inner {
  display: flex;
  height: 519px;
  position: relative;
}
@media screen and (max-width: 1140px) {
  .quality__inner {
    height: 470px;
  }
}
@media screen and (max-width: 997px) {
  .quality__inner {
    height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .quality__inner {
    height: 700px;
  }
}
@media screen and (max-width: 576px) {
  .quality__inner {
    height: 660px;
  }
}
.quality__title {
  margin-bottom: 21px;
}
.quality__box1 {
  background-color: #F7F5EF;
  width: 34.5%;
}
@media screen and (max-width: 997px) {
  .quality__box1 {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .quality__box1 {
    width: 40%;
  }
}
.quality__box2 {
  background-color: #FDFDFB;
  width: 65.5%;
}
@media screen and (max-width: 997px) {
  .quality__box2 {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .quality__box2 {
    width: 60%;
  }
}
.quality__text-div {
  position: absolute;
  top: 17%;
  left: 56%;
  z-index: 999;
}
@media screen and (max-width: 997px) {
  .quality__text-div {
    top: 12%;
    left: 52%;
  }
}
@media screen and (max-width: 768px) {
  .quality__text-div {
    top: 59%;
    left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .quality__text-div {
    top: 47%;
  }
}
.quality__description {
  width: 68%;
  margin-bottom: 41px;
}
@media screen and (max-width: 997px) {
  .quality__description {
    line-height: 21px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .quality__description {
    width: 80%;
    margin: 0 auto 20px;
  }
}
.quality__watch-img {
  position: absolute;
  top: 10%;
  left: 13%;
}
@media screen and (max-width: 1260px) {
  .quality__watch-img {
    left: 7%;
  }
}
@media screen and (max-width: 1140px) {
  .quality__watch-img {
    width: 400px;
    height: auto;
    top: 20%;
  }
}
@media screen and (max-width: 997px) {
  .quality__watch-img {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .quality__watch-img {
    width: 400px;
    top: 10%;
    left: 50%;
    margin-left: -200px;
  }
}
@media screen and (max-width: 576px) {
  .quality__watch-img {
    width: 270px;
    top: 10%;
    left: 50%;
    margin-left: -135px;
  }
}
@media screen and (max-width: 997px) {
  .quality__link {
    padding: 18px 27px;
  }
}
.quality__lines {
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1140px) {
  .quality__lines {
    height: 470px;
    width: auto;
  }
}
@media screen and (max-width: 997px) {
  .quality__lines {
    height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .quality__lines {
    display: none;
  }
}
.quality__carousel-page {
  position: absolute;
  bottom: 0;
  left: 40%;
  font: 400 19px "Prata", serif;
  line-height: 16.26px;
}
@media screen and (max-width: 997px) {
  .quality__carousel-page {
    left: 28%;
    bottom: 14%;
  }
}
@media screen and (max-width: 768px) {
  .quality__carousel-page {
    bottom: 36%;
  }
}
@media screen and (max-width: 576px) {
  .quality__carousel-page {
    bottom: 52%;
    left: 15%;
  }
}
.quality__carousel-num {
  margin: 0 13px;
  font-size: 12px;
}
