$colorFD: #FDFDFB;
$black1B: #1B1A17;
$black26: #262421;
$grey55: #555248;
$grey44: #444240;
$grey8B: #8B8371;
$white: #FFFFFF;
$mixBlack: rgba(27, 26, 23, 0.82);
$darkBeige: #D4B098;
$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', serif;
$Prata: 'Prata', serif;